{% extends "layout.html.twig" %}

{% block title %}Acceuil{% endblock %}

{% block content %}
    <h1>Enquête FdF management 2018</h1>
    <div class="item">
        {% if dataFound %}
            <a class="button button-primary right" href="{{ path('survey') }}">Continuer</a>
            <p>Vous avez déjà commencé à compléter le questionnaire. Vous pouvez reprendre à la dernière étape validée.</p>
            <hr />
        {% else %}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis nulla at felis gravida iaculis. Vestibulum ultricies turpis eget sem consectetur, vel molestie lacus pretium.</p>
            <p>Praesent non est ut ipsum scelerisque ullamcorper. Nulla nec tortor semper, consequat enim eget, mattis tortor. Cras a leo nec mauris viverra vulputate. Vivamus rutrum commodo massa nec lobortis. Duis egestas, mi sed molestie ullamcorper, tellus tortor dapibus nisl, at tristique magna turpis in velit. Fusce mauris risus, malesuada in nulla in, vestibulum sagittis erat. Fusce ac auctor ex, nec ornare diam. Aenean nec gravida arcu. Vestibulum malesuada, turpis non iaculis placerat, odio justo rhoncus lacus, ut imperdiet nisi eros ut nisi.</p>
        {% endif %}

        <p>Pour toute question, vous pouvez nous contacter à cette adresse courriel :<br />
        <span style="font-size:.8em">Les emails sont volontairement dissimulés, supprimez les [ et ] pour les utiliser</span></p>
        <ul>
            <li>Kristina Beauvivre : kristina.beauvivre[@]fdf.fr</li>
        </ul>
        <br />

        {% if not dataFound %}
            {{ form(keyForm) }}
            <p>Pas encore de clé d’activation ? Recevez la par courriel en indiquant votre adresse ci-dessous</p>
            {{ form(registerForm) }}
        {% endif %}
        <p>Nous vous remercions par avance de votre collaboration.</p>

    </div>
{% endblock %}

