{% extends "layout.html.twig" %}

{% block title %}Vos fonctions{% endblock %}

{% block content %}
    <h1>Enquête FdF management 2018</h1>
    <div class="item">
        {{ form(isManagerForm) }}
    </div>
{% endblock %}

